//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
//@theme "/usr/share/rofi/themes/fancy.rasi"
//@theme "/usr/share/rofi/themes/lb.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
